body {
  /* المطلوب الأول هنا */
  text-align: center;
  background-image: url(./img/kuwaitcodes.png);
  font-family: cairo;
}
.card {
  /* المطلوب الثاني هنا */
  width: 400px;
  height: 500px;
  background-color: white;
  box-shadow: 10px 10px 20px white;
  border-radius: 12px;
}

img {
  /* المطلوب الثالث هنا */
  width: 120px;
  height: 120px;
  margin-top: 20px;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.247);
  border-radius: 50%;
}

.center {
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: inline-block;
}

a:hover {
  text-decoration: none;
  color: black;
  text-shadow: 10px 10px 10px black;
}
